name: tagpr

on:
    push:
        branches:
            - main

jobs:
    tagpr:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        steps:
            - uses: actions/checkout@v4
              with:
                  token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}

            - uses: Songmu/tagpr@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
